body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

/* HEADERS */

.header--main {
    font-weight: Normal;
    font-size: 50px;
    color: #fff;
}

.header--secondary {
    font-size: 36px;
    font-weight: 300;
    color: #fff;
}

.header--sub-header {
    font-size: 21xp;
    color: grey;
}

/* LINKS */

.cta {
    font-size: 16px;
    color: aquamarine;
}

/* FOOTER */

.footer--copyright {
    font-size: 21px;
    color: grey;
    text-align: right;
}

/* IMAGES */

.camp--img
{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

