body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

.header--main {
    font-weight: Normal;
    font-size: 50px;
    color: #fff;
}

.cta {
    font-size: 16px;
    color: aquamarine;
}

.header2 {
    font-size: 36px;
    font-weight: 300;
    color: #fff;
}

.explanation {
    font-size: 21xp;
    color: grey;
}